<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/restaurants/">
      <img src="../../assets/icon.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
      RestaurantApp
    </a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/restaurants/">Home</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <%= simple_form_for @restaurant do |f| %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :phone_number %>
    <%= f.input :category %>
    <%= f.submit "Create restaurant", class: "btn btn-primary" %>
  <% end %>
  <%= link_to "Cancel", restaurants_path %>
</div>
