<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/restaurants/">
      <img src="../../assets/icon.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
      RestaurantApp
    </a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/restaurants/">Home</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<h1><%= @restaurant.name %></h1>
<p><%= "#{@restaurant.category}" || "#{@restaurant.address}" || "#{@restaurant.phone_number}" %></p>

<% @restaurant.reviews.each do | review | %>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <%= "#{review.content} || #{review.rating}" %>
      <%= link_to "delete", review_path(review), data: {turbo_method: :delete, turbo_confirm: "Are you shure?"} %>
    </li>
  </ul>
<% end %>

<%= link_to "Add review", new_restaurant_review_path(@restaurant) %>
<%= link_to "back", restaurants_path %>
